body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(8, 7, 7);
    padding: 0;
    margin: 0;
    text-align: center;

}

.navbar {
    display: flex;
    flex-direction: column;
}

.bx-navbar {
    display: flex;
    color: beige;
    background-color: rgb(8, 7, 7);
    padding: 20px 0px 20px 100px;
    align-items: center;
}
.header-logo img {
    width: 100px;
    height: 100px;
    margin-right: auto;
}
.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}
.header-link a {
    text-decoration: none;
    color: beige;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.bx-movies {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    color: beige;
    background-color: rgb(8, 7, 7);
}
.movies-2022 {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}
.movies-2022 p {
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
}
h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: beige;
}
.wrapper {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin-left: auto;
   
}

a {
    display: block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: beige;
    border-top: 2px solid beige;
    border-bottom: 2px solid beige;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
    text-align: center;
}

a:hover {
    letter-spacing: 15px;
}
.movies-2022 span {
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
 }
 img:hover {
    opacity: 0.5;
 }

.bx-content {
    align-items: center;
    background-color: whitesmoke;
    color: black;
    
}
.bx-content h2 {
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    background-color: whitesmoke;
    margin-top: 30px;
}

.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid beige;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 200px;
}
.quote p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}
.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

.sign-up {
    background-color: gray;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}
.sign-item {
    flex: 1;
}
.signs-text {
    text-align: left;
}
.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}
h3 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 30px 0px 0px 50px;
}
.signs-button button {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-color: #fff;
    border-radius: 8px;
    background-color: black;
    padding: 5px 25px;
    font-size: 15px;
}

.footer {
    background-color: #1f2937;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}